@model ClanNinjaEquipment.Web.ViewModels.ClanViewModel
@using System.Web.Script.Serialization


@{
    ViewBag.Title = "Create Clan View Model";
}

<!---TO serialize the data-->
@{ string serializeddata = new JavaScriptSerializer().Serialize(Model); }


<!---To attach the scripts-->
@section Scripts
{
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/ClanViewModel.js"></script>
    <script type="text/javascript">
        var ClanViewModel = new ClanViewModel(@Html.Raw(serializeddata));

        ko.applyBindings(ClanViewModel);
    </script>


}
<h1>
    @ViewBag.Title
    <small data-bind="text: MessageToClient"></small>
    <p data-bind="text: MessageToClient"></p>
</h1>
<div>
    <div>
        <label for="Name" >Clan Name:</label>
        <input  data-bind="value:Name"/>

    </div>
    <div>
        <label for="SymbolPic">Symbol Picture:</label>
        <input data-bind="value:SymbolPic" type="file" />

    </div>
    <div><label for="IsEvil" class="">Clan is evil ?</label>
        <input data-bind="value:IsEvil">
    </div>



</div>
<p>
    <button data-bind="click: save">Save</button>
</p>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
